// device width

$maxMobile: 479px;
$mobile: 480px;
$maxTablet: 767px;
$tablet: 768px;
$maxDesctop: 1279px;
$desctop: 1280px;

//font-colors
$primary-font-color: #303030;
$secondary-font-color: #ffffff;
$accent-font-color: #ff6c00;
$subtitle-font-color: rgba(157, 164, 189, 0.6);
$paragraph-font-color: #555555;
$darktheme-font-color: #9da4bd;
$prices-line-color: rgba(157, 164, 189, 0.12);
$secondary-backgroud-color: #f7f7f7;
// colors

// borders
$mobile-menu-border: -4px 0px 8px rgba(0, 0, 0, 0.04),
  -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);

//   header
