.container {
  padding-left: 31px;
  padding-right: 31px;
  min-height: inherit;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $mobile) {
    width: $mobile;
  }
  @media (min-width: $tablet) {
    width: $tablet;

    &.flex {
      display: flex;
    }
  }
  @media (min-width: $desctop) {
    width: $desctop;
  }
}

.padding {
  padding-top: 84px;
  padding-bottom: 84px;
  @media (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media (min-width: $desctop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
